# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
* some of the popular language that data scientists use
* some of the commonly used libries by data scientists
* Data Science Tools
*  few examples of evaluating arithmetic expressions in Python

# Some of the popular languages that Data Scientists use are:
  1. python
  2. R
  3. Sql

# Some of the commonly used libraries  by Data Scientists include:
1. matplotlib
2. pandas
3. numpy
4. ggplot

|Data Science Tools|
|------------------|
|Rstudio|
|Anaconda|
| Jupyter|

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Abhijith.k